<!-- Admin Management Page -->
<h1>Welcome back!</h1>
<br><br>

<form method="post" action="admin_action">
    <input type="submit" name="ad_ac" value="Employee List">
    <input type="submit" name="ad_ac" value="Employee Management">
    <input type="submit" name="ad_ac" value="Vacation Requests">
</form>

<body onload="updateClock(); setInterval('updateClock()', 1000 )">
<span id="clock">&nbsp;</span>
</body>

<script src = "/js/clock.js">
</script>