<!-- Admin's Employee List -->

<h1>Add a User:</h1>

<form method = "post" action="add_to_user_list">
<input type="text" name="user_id_new" placeholder="User Id" required>
<input type="text" name="first_name" placeholder="First Name" required>
<input type="text" name="last_name" placeholder="Last Name" required>
<input type="text" name="email" placeholder="Business Email" required>
<input type="text" name="admin" placeholder="Admin Status" required>
<input type="submit">
</form>