<!-- Admin's Employee List -->

<h1>Add a User:</h1>

<form method = "post" action="add_to_user_list">
User ID:<input type="text" name="user_id_new" placeholder="User Id" required><br>
First Name:<input type="text" name="first_name" placeholder="First Name" required><br>
Last Name:<input type="text" name="last_name" placeholder="Last Name" required><br>
Business Email:<input type="text" name="email" placeholder="Business Email" required><br>
Admin Status: Yes<input type="radio" name="admin" value="Yes">
No<input type="radio" name="admin" value="No"><br>
<input type="submit">
</form>