<!-- Admin's Employee List -->

<%=msg%>

<h1>Add a User:</h1>

<form method = "post" action="add_to_user_list">
User ID:<input type="text" name="user_id_new" placeholder="User Id" required><br>
First Name:<input type="text" name="first_name" placeholder="First Name" required><br>
Last Name:<input type="text" name="last_name" placeholder="Last Name" required><br>
Business Email:<input type="text" name="email" placeholder="Business Email" required><br>
P.T.O:<input type="text" name="pto" placeholder="Paid Time Off" required><br>
Date Of Hire:<input type="text" name="dot" placeholder="Date Of Hire" required><br>
Admin Status: Yes<input type="radio" name="admin" value="Yes">
No<input type="radio" name="admin" value="No" checked><br>
<input type="submit">
</form>
<form method = "post" action = "return">
<input type="submit" value="Return">
</form>