<center><h1><%=fname%>, welcome back!</h1>
<br><br>

<form method="post" action="admin_action">
    <input type="submit" name="ad_ac" value="Employee List">
    <input type="submit" name="ad_ac" value="Employee Management">
    <input type="submit" name="ad_ac" value="Vacation Requests">
</form>