<!-- Admin add a user page -->
<!--sign out div-->
<div id="timeout">
</div>
<%=msg%>

<center><h1>Add a User:</h1>

<form method = "post" action="add_to_user_list">
User ID:<input type="text" name="user_id_new" placeholder="User Id" required><br>
First Name:<input type="text" name="first_name" placeholder="First Name" required><br>
Last Name:<input type="text" name="last_name" placeholder="Last Name" required><br>
Business Email:<input type="text" name="email" placeholder="Business Email" required><br>
P.T.O:<input type="number" name="pto" placeholder="Paid Time Off" required><br>
Department:<input type="text" name="department" placeholder="Department" required><br>
Job Title:<input type="text" name="job" placeholder="Job Title" required><br>
Date Of Hire:<input type="date" name="doh" placeholder="Date Of Hire" required><br>
Admin Status: Yes<input type="radio" name="admin" value="Yes">
No<input type="radio" name="admin" value="No" checked><br>
<input class="button" type="reset">
<input class="button" type="submit">
</form><br>
<form method = "post" action = "return">
<input class="button" type="submit" value="Return">
</form>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com"></ceneter>
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>