<!-- Admins Employee Management -->

<h1>Current List of Employees:</h1>
<form method = "post" action = "update_emp">
<table>
<tr>
<th>Select</th>
<th>Employee ID</th>
<th>First Name</th>
<th>Last Name</th>
</tr>
<%admin_list.each do |row|%>
    <tr>
    <td><input type = "radio" name = "info[]" value = "<%=row[0]%>"></td>
    <%row.each do |item|%>
        <td>
        <%=item.capitalize%>
        </td>
    <%end%>
    </tr>
<%end%>
</table>
<input type="radio" name="choose" value="update" checked>Update<br>
<input type="radio" name="choose" value="delete">Delete <br>
<input type="submit" value="Next">
</form>