<!-- Admin add a user page -->
<!--sign out div-->
<div id="timeout">
</div>
<%=msg%>

<center><h1>Add a User:</h1></center>

<div class="center_text">
<form method = "post" action="add_to_user_list">
<strong>User ID:</strong> <input type="text" name="user_id_new" placeholder="User ID" id="right_align" required><br><br>
<strong>First Name:</strong> <input type="text" name="first_name" placeholder="First Name" id="right_align"  required><br><br>
<strong>Last Name:</strong> <input type="text" name="last_name" placeholder="Last Name" id="right_align"  required><br><br>
<strong>Business Email:</strong> <input type="text" name="email" placeholder="Business Email" id="right_align"  required><br><br>
<strong>P.T.O:</strong> <input type="number" name="pto" placeholder="Paid Time Off" min="0" id="right_align"  required><br><br>
<strong>Vacation:</strong> <input type="number" name="vacation" placeholder="Vacation Time" min="0" id="right_align"  required><br><br>
<strong>Sick:</strong> <input type="number" name="sick" placeholder="Sick Time" min="0" id="right_align"  required><br><br>
<strong>Department:</strong> <input type="text" name="department" placeholder="Department" id="right_align"  required><br><br>
<strong>Job Title:</strong> <input type="text" name="job" placeholder="Job Title" id="right_align"  required><br><br>
<strong>Date Of Hire:</strong> <input type="date" name="doh" placeholder="Date Of Hire" id="right_align" required><br><br>
<strong>Admin Status:</strong> <select name="admin"><%if session[:user_hierarchy] == 3 %><option value="3">C.E.O</option><option value="2">Supervisor</option><option value="1">Worker</option><%elsif session[:user_hierarchy] == 2 %><option value="2">Supervisor</option><option value="1">Worker</option><%end%></select><br>
</div>
<center><input class="button" type="reset">
<input class="button" type="submit">
</form><br>
<form method = "post" action = "return">
<input class="button" type="submit" value="Return">
</form></center>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com"></ceneter>
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>