Please Enter Your Github login information
<form method = 'post' action = "from_git_login">
    username: <input type = "text" name = 'user'>
    password: <input type = 'password' name = "pass">
    <input type = "submit" value = "enter">
</form>