Who Needs to give us money
<form id= "clientform" method = 'post' action = "got_clients">
<input id= 'clientbox' type = "text" name = "client[]"><button onclick='add_box'>+</button>
</form>

<script>
function add_box(){
var form = document.getElementById('clientform'):
input = document.createElement('input');
input.name = "client[]";
input.type = "text";
input.placeholder = "Client Name";
form.appendChild(input);
}
</script>