Client Names
<form method = 'post' action = "got_clients">
Filing Week<input type = "date" name = "filing_week"><br>
<button type = 'button' onclick='add_box()'>+</button><button type = 'button' onclick='subtract_box()'>-</button> <input type = 'submit' >
    <div id = "clientbox">
        <input id= 'clientbox' placeholder="Client Name" type = "text" name = "client[]">
    </div>
</form>



<script>
    function add_box(){
        br = document.createElement('br');
        input = document.createElement('input');
        input.name = "client[]";
        input.type = "text";
        input.placeholder = "Client Name";
        document.getElementById('clientbox').appendChild(input);

    }

    function subtract_box(){
        x = document.getElementById('clientbox');
        if (x.children.length > 1){
            x.removeChild(x.lastChild);
        }
    }
</script>