<!--user clock in and clockout page-->

<%user_info.each do |row|%>
    <%=row%>
<%end%>, welcome back!<br>
<%=user_email%><br>

<!--signout function -->
<%=session[:message]%><br>

<!-- form for submiting your time in -->
<form method = "post" action = "clock_in">
<button type = "submit">Submit Time In</button>
</form>


<!-- form for submiting yout time out -->
<form id = "time_submit" method = "post" action = "clock_out">
<button type = "submit" onclick="setTime()">Submit Time Out</button>
</form>

<!-- clock -->
<body onload="updateClock(); setInterval('updateClock()', 1000 ); admin_toggle(<%=admin_check%>)">
<span id="clock">&nbsp;</span>
<div id="admin_div">
"Yes"
</div>
</body>


<script src = "/js/clock.js">
</script>
<script src = "/js/toggle.js">
</script>

<!--sign out section--><br>
<a href="/" onclick="log_me_out();">Sign out</a>
