

<head>
<link rel= "stylesheet" href = "css/style.css">

<img src="/img/logo.jpg" width="200" height="150"> <center><h1>Time Clock</h1></center>

</head>


<body>

<%=yield%>
</body>

<center><footer>
<p> Vist Our GitHub</p>
<a href = "https://github.com/billyjack1988" target = "_blank"> Billyjack</a>
<a href = "https://github.com/garrekmontantez" target = "_blank"> Garrek</a>
<a href = "https://github.com/ldeems" target = "_blank"> Luke</a>
<a href = "https://github.com/scstew" target = "_blank"> Scott</a>


</footer></center>