<!doctype html>
<link rel= "stylesheet" href = "css/style.css">
<title>Time Clock</title>

<head><a href= '/to_landing'><img src="/img/wvlogo.png" width="200" height="150"></a>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class= "boarder">
</header>


<body class = "back_gr"  onload="updateClock(); setInterval('updateClock()',1000)";>
<div>
<span id="clock">&nbsp;</span> <span id="date"></span>
</div>
<%=yield%>
</body>


<center><footer>
<div id = "box2"> Vist Our GitHub
<a href = "https://github.com/billyjack1988" target = "_blank"> Billyjack</a>
<a href = "https://github.com/garrekmontantez" target = "_blank"> Garrek</a>
<a href = "https://github.com/ldeems" target = "_blank"> Luke</a>
<a href = "https://github.com/scstew" target = "_blank"> Scott</a>
</footer></center>
<script src = "/js/clock.js"></script>
<script>
    var d = new Date();
    document.getElementById("date").innerHTML = d.toDateString();
</script>