<!-- Login/First Page -->
<link rel = "stylesheet" href = "css/style.css">
<!--toggle for sign in-->
<%toggle = "off"%>

<%if toggle == "on"%>
<form method="post" action="sso_login">
<input type="text" name="username" placeholder="username" required><br>
<input type="text" name="password" placeholder="password" required><br>
<input type="submit" name="submit" value="login">
</form>


<%elsif toggle == "off"%>
<head>

</head>
<ceneter><meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com"><center>
<form id = "myform" method = "post" action = "login">
<!--FaceBook Button -->
<div class="social-login">
<img src="img/fb_button.png" class="button button2" id="facebook_btn" onclick="fbLogin()">
</div>
<!--google button-->
<div class="g-signin2" data- data-width="410" data-height="100" data-longtitle="true" data-onsuccess="onSignIn"></div>

<!-- simple bypass for login needs deleted before merge to master -->
<input type = "hidden" id = 'first_name' name = "first_name">
<input type = "hidden"id = "last_name" name = "last_name">
<input type = "hidden" id = "email" name = "email">




<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src= "js/google_js.js"></script>
<script src = "js/facebook.js"></script>

<%end%>




