<!-- Login/First Page -->

<div class="social-login">
    <img src="img/fb_button.jpg"  id="facebook_btn" onclick="FBLogin()"> 
    <img src="img/googlelogin.png" class="google_button button_style" id="google_btn">
  
</div>
<script src = "/js/js.js">
</script>

<form method = "post" action = "login">
<input type = "submit">
</form>



