<!-- Login/First Page -->


<head>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
</head>


<!--FaceBook Button -->
<div class="social-login">
    <img src="img/fb_button.png"  id="facebook_btn" onclick="Facebooklogin()">
</div>
<!--google button-->
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<!-- simple bypass for login needs deleted before merge to master -->


<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src = "/js/facebook.js">
</script>
