<!-- Login/First Page -->

<!--FaceBook Button -->

<div class="social-login">
    <img src="img/fb_button.jpg"  id="facebook_btn" onclick="FBLogin()"> 
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  
</div>


<script src = "/js/js.js">
</script>
<script src="/js/google_js.js" async defer></script>
