<!-- Login/First Page -->
<head>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
</head>

<!--FaceBook Button -->

<div class="social-login">
    <img src="img/fb_button.png"  id="facebook_btn" onclick="FBLogin()"> 
</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<form method = "post" action = "login">
<input type = "submit">
</form>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src = "/js/js.js">
</script>
