<!-- Login/First Page -->

<!--FaceBook Button -->
<!--google button-->

<div class="social-login">
    <img src="img/fb_button.jpg"  id="facebook_btn" onclick="FBLogin()"> <br>
    <img src="img/google_login.png" id="google_btn"> 
</div>
<script src = "/js/facebook.js"></script>
<script src = "/js/google_js.js"></script>

<form method = "post" action = "login">
<input type = "submit">
</form>





