<link rel= "stylesheet" href = "css/searchbar.css">
<%time_hash.each_pair do |key,value|%>
    <div id = '<%="#{key}result"%>'>
            <%if value[1] != 'empty'%>
           
            <%time = live_time("#{value[1]} #{value[5]}",Time.now.strftime('%H:%M %Y-%m-%d'))%>
            <div class ="inline-block"> 
                <div id= "green_light">
                </div> 
                <div class ="inline-block"> <%=time_zero_remove(time)%></div>
            </div>
            <%else%>
            <div id= "no_light">
            </div>
            <%end%>
    </div>
    <%end%>