<%user_checked_in = arr.each_slice(5)%>
<%user_checked_in.each do |row|%>
<%time = live_time("#{row[2]} #{row[3]}",Time.now.strftime('%H:%M %Y-%m-%d'))%>
<%=row[0].capitalize%> <%=row[1].capitalize%> <br><%=time_zero_remove(time)%> <%=row[4]%></div>
<%end%>