<strong><%=msg%></strong>
<h2>Please Select a Week, or All Weeks</h2>
<form method="post" action="week_choice">
    <input type="date" name="chosen_week">
    <input type="submit">
</form><br><br>
<form method="post" action="all_choice">
    <input type="submit" value="ALL">
</form>