<!-- see people page -->
<!--sign out div-->
<div id="timeout">
</div>

<!--  list of all people and in and out status -->
<link rel= "stylesheet" href = "css/searchbar.css">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
<%users[0].each do |user_id|%>
    <li><a><%=user_id.capitalize%> IN</a></li>
<%end%>
<%users[1].each do |user_id|%>
    <li><a><%=user_id.capitalize%> OUT</a></li>
<%end%>
</ul>
<br>
<form method = "post" action = "return">
<button class="button" type = "submit">Return</button>
</form>

<script src ="/js/search.js"></script>

<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>
