<!--  list of all people and in and out status -->
<link rel= "stylesheet" href = "css/searchbar.css">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
<%users[0].each do |user_id|%>
    <li><a><%=user_id%></a></li>
<%end%>
</ul>

<form method = "post" action = "return">
<button type = "submit">Return</button>
</form>

<script src="/js/search.js"></script>