iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

#box2 {
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    padding: auto;
    border-radius: 3vh;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 0%;
    text-align: center;
}

#box {
    background-color: rgba(0, 0, 139, 0.33);
    border-style: solid;
    border-color: transparent;
    padding: auto;
    border-radius: 3vh;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 0%;
    text-align: top right;
}

.back_gr {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.pad {
    padding-left: 70%;
}

.boarder {
    border-top-right-radius: 50%;
}

.google_button {
    height: 1vh;
    width: 3vh;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}